{% extends 'base.html' %}

{% block title %}Podcasts{% endblock title %}
{% load static %}

{% block content %}

<section class="container center-column podcast-section">
    <h2>Podcasts</h2>

    <div class="podcast-container">
        
        {% for podcast in podcasts %}
        <div class="podcast-cards">
            <a href="{{ podcast.link }}" target="_blank">
                <img src="{{ podcast.image.url }}">
                <p>{{ podcast.title }}</p>
            </a>
            <p>{{ podcast.description }}</p>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock content %}